<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EzenbucksMapper">
	<select id="productlist" resultType="productvo">
		select * from product
	</select>

	<select id="orderlist" resultType="ordervo">
		select * from orders
	</select>
	
	<select id="shoplist" resultType="shopvo">
		select * from shop
	</select>
	
	<select id="cartlist" resultType="cartvo">
		select * from cart
	</select>
	
</mapper>