<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EzenbucksMapper">
	<select id="itemList" resultType="itemvo">
		select * from item
	</select>
	
	<insert id="orderInsert" parameterType="ordervo" useGeneratedKeys="true" keyProperty="orderId">
		insert into orders(order_total_price, order_status, shop_id) values(#{orderTotalPrice}, #{orderStatus}, #{shopId})
	</insert>
	
	<insert id="orderDetailInsert" parameterType="ordDetailvo">
		insert into order_detail(item_id, item_option_id, order_id, order_detail_count) 
					values(
							#{itemId}, 
							<choose>
								<when test="itemOptionId != 0">
									#{itemOptionId},
								</when>
								<otherwise>
									null,
								</otherwise>
							</choose>
							#{orderId}, 
							#{orderDetailCount})
	</insert>
	
	<insert id="optionInsert" parameterType="optionvo" useGeneratedKeys="true" keyProperty="itemOptionId">
		insert into item_option(item_option_temp, item_option_size) values(#{itemOptionTemp}, #{itemOptionSize})
	</insert>
</mapper>