<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- <package name="com.myweb.domain" /> -->
		<typeAlias type="com.myweb.domain.ItemVO" alias="itemvo"/>
		<typeAlias type="com.myweb.domain.OrderVO" alias="ordervo"/>
		<typeAlias type="com.myweb.domain.OrderDetailVO" alias="orderdetailvo"/>
		<typeAlias type="com.myweb.domain.ShopVO" alias="shopvo"/>
		<typeAlias type="com.myweb.domain.CartVO" alias="cartvo"/>
	</typeAliases>
</configuration>